@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@keyframes spinner-d3wgkg {
    to {
       transform: rotate(1turn);
    }
 }

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;

    margin: 0;
}

header {    
    background-color: darkgrey; 
    font-weight: bolder;
    text-transform: uppercase;
    height: 100px;
    text-align: center; 
    margin: 0; 
    padding: 15px 0;  
}

main {
    text-align: center; 
    margin: 50px 0 0;
}


label {
    padding: 0 3px;
    font-weight: bolder;
}


#field_searchCEP {
    padding: 10px 40px;
    font-size: 16px;
}

button {
    margin: 20px;
    padding: 10px;
    font-size: medium;
    font-weight: bolder;
}

.box-result {
    display: flex;
    justify-content: center;
    
}

#result {
    margin-top: 20px;
    text-align: left;
}

.box-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

#spinner {
    display: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 9px solid;
    border-color: #dbdcef;
    border-right-color: #1939c9;
    animation: spinner-d3wgkg 1s infinite linear;
 }

footer {
    font-size: small;
    font-weight: bold;
    text-align: center;    
    background-color: lightgray;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 20px;    
}

